<h1>Game Account Management</h1>>
{{!-- Initial form for account creation. Need to build out logic. --}}
<p>Select a login name and password for your game account. You will be able to change the password from this page at any time.</p>

<form method="post" autocomplete="off"><span style="display: inline-block; width: 80px;">Login: </span><input type="text" name="authname" maxlength=14> <small>(maximum 14 characters; only letters and numbers)</small><br>
<span style="display: inline-block; width: 80px;">Password: </span><input type="password" name="password" maxlength=16> <small>(between 8 and 16 characters)</small><br><br>
<span style="display: inline-block; width: 80px;"><input type="hidden" name="fid" value="0"></span>
<input style="display: inline-block; width: 160px;" type="submit" value="Create Game Account"></form>